<!DOCTYPE html>
<html>
  <head>
    <title>Target: Classroom Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <body>
    <table style="width: 100%; margin-bottom: 3em;" border="1">
      <tr>
        <td>
          <strong>Classroom</strong>
        </td>

        <td>
          <a href="/courses">
            Courses
          </a>
        </td>
        
        <td>
          <a href="/departments">
            Departments
          </a>
        </td>

        <td>
          <a href="/students">
            Students
          </a>
        </td>
      </tr>
    </table>
    <h1>
  List of all departments
</h1>

<hr>

<form action="/insert_department" method="post">
  <div>
    <label for="name_box">
      Name
    </label>

    <input type="text" id="name_box" name="query_name">
  </div>

  <button>
    Create department
  </button>
</form>

<hr>

<table class="table" border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
    </th>
  </tr>

    <tr>
      <td>
        65
      </td>

      <td>
        English
      </td>

      <td>
        <a href="/departments/65">
          Show details
        </a>
      </td>
    </tr>
    <tr>
      <td>
        66
      </td>

      <td>
        Business
      </td>

      <td>
        <a href="/departments/66">
          Show details
        </a>
      </td>
    </tr>
</table>

<hr>

  </body>
</html>
